.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column; /* Stack items vertically */
  }
  
  .homepage {
    background-color: #d0e7ff; /* Light blue background */
    min-height: 100vh; /* Ensures the full height */
    padding: 20px; /* Adjust padding as needed */
  }